.top {
  background-image: url(https://i2.wp.com/www.sollicitatieacademie.nl/wp-content/uploads/2016/05/dark-desk-background-dark.jpg?ssl=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  &__flash-notice {
    width: 100%;
    height: 60px;
    background-color: #090;
    color: #ddd;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
  }
  &__wrap {
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    padding-top: 220px;
    text-align: center;
    color: #ccc;
    h2 {
      font-size: 50px;
      letter-spacing: 3px;
    }
    p {
      padding: 30px 0 80px;
      font-size: 24px;
      color: #aaa;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        background-color: #aaa;
        width: 90px;
        height: 2px;
        margin: 0 30px;
        vertical-align: middle;
      }
      &::after {
        content: "";
        display: inline-block;
        background-color: #aaa;
        width: 100px;
        height: 2px;
        margin: 0 30px;
        vertical-align: middle;
      }
    }
    .top-contact {
      color: #ccc;
      display: inline-block;
      border: 1px solid #ccc;
      padding: 20px;
      border-box: content-box;
      width: 200px;
      border-radius: 4px;
      font-size: 18px;
      &:hover {
        background-color: #ccc;
        color: #333;
        transition: 0.6s ;
      }
    }
  }
  @media screen and (max-width: 640px) {
    p {
      font-size: 18px;
      &::before {
        width: 40px;
        margin: 0 10px;
      }
      &::after {
        width: 40px;
        margin: 0 10px;
      }
    }
  }
}
.about {
  background-color: #333;
  position: relative;
  padding: 80px 0;
  &__wrap {
    width: 80%;
    margin: 0 auto;
    height: 75%;
    display: flex;
    &__left {
      color: #ddd;
      padding: 45px 25px 0 10px;
      width: 220px;
      flex-shrink: 0;
      text-align: center;
      font-family: serif, sans-serif;
      border-right: 1px solid #ccc;
      .about-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      &--name {
        font-size: 20px;
        padding: 20px 0 10px;
        line-height: 30px;
      }
      &--birth {
        padding: 5px 0;
      }
    }
    &__right {
      margin-left: 10px;
      border-left: 1px solid #ccc;
      padding: 30px 0 0 60px;
      color: #ddd;
      font-family: serif, sans-serif;
      h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 40px;
        letter-spacing: 1px;
      }
      &--text {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.5px;
        padding-bottom: 30px;
      }
      &__sns {
        font-size: 60px;
        padding-top: 50px;
        float: right;
        &--twitter {
          color: #ccc;
          padding-right: 20px;
          &:hover {
            color: #55acee;
            transition: 0.8s;
          }
        }
        &--facebook {
          color: #ccc;
          &:hover {
            color: #3B5998;
            transition: 0.8s;
          }
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .about__wrap {
      flex-direction: column;
      &__left {
        border: none;
        padding: 0 0 25px;
        border-bottom: 1px solid #ccc;
        width: auto;
      }
      &__right {
        border: none;
        width: 100%;
        padding: 35px 0 0;
        margin: 10px 0 0;
        border-top: 1px solid #ccc;
      }
    }
  }
}
.works {
  background-color: #036;
  min-height: 100vh;
  padding: 80px 0;
  color: #ddd;
  &--title {
    text-align: center;
    h2 {
      font-size: 44px;
      padding-bottom: 12px;
      letter-spacing: 2px;
    }
    p {
      font-size: 18px;
    }
  }
  &__perfomances {
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .perfomance {
      padding-bottom: 50px;
      width: 300px;
      text-align: center;
      .works--image {
        width: 100%;
      }
      p {
        padding-top: 10px;
        font-size: 16px;
      }
      &__link {
        color: red;
        &:hover {
          opacity: 0.8;
          color: orangered;
        }
      }
    }
  }
  &__github {
    text-align: center;
    padding-top: 20px;
    &__link {
      color: #ddd;
      .github {
        font-size: 90px;
        padding-bottom: 16px;
      }
      p {
        font-size: 14px;
      }
      &:hover {
        color: #bbb;
      }
    }
  }
}
.skills {
  background-color: #fff;
  min-height: 100vh;
  padding: 80px 0;
  color: #222;
  &--title {
    text-align: center;
    padding-bottom: 40px;
    h2 {
      font-size: 44px;
      padding-bottom: 12px;
      letter-spacing: 2px;
    }
    p {
      font-size: 18px;
    }
  }
  &__list {
    table {
      width: 80%;
      border: 1px solid #222;
      margin: 0 auto;
    }
    td, th {
      border: 1px solid #222;
      padding: 20px;
    }
    th {
      background-color: #eee;
    }
    @media screen and (max-width: 640px) {
      td {
        width: 100%;
        display: block;
      }
      th {
        width: 100%;
        display: block;
      }
    }
  }
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
  margin: 0 auto;
  .star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    color: #ccc;
  }
  .html {
    width: 80%;
  }
  .js, .rails, .heroku, .github {
    width: 60%;
  }
  .aws {
    width: 30%;
  }
  .swift, .docker {
    width: 20%;
  }
}
.contact {
  background-image: url(https://www.spinap.jp/files/2015/08/computer-desk-work-1024x603.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: #ddd;
  padding: 80px 0;
  &--title {
    text-align: center;
    padding-bottom: 40px;
    h2 {
      font-size: 44px;
      padding-bottom: 12px;
      letter-spacing: 2px;
    }
    p {
      font-size: 18px;
    }
  }
  &__form {
    .form-group {
      margin: 0 auto;
      width: 50%;
      padding: 5px;
      input, textarea {
        width: 100%;
        height: 28px;
        font-size: 18px;
        padding: 6px;
        margin: 5px 0;
        color: #eee;
        background-color: rgba(0,0,0,0.3);
      }
      textarea::placeholder,input::placeholder {
        color: #bbb;
      }
      textarea {
        height: 180px;
      }
      .contact-btn {
        background-color: #090;
        color: #ddd;
        width: 50%;
        height: 40px;
        border: none;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 640px) {
      .form-group {
        width: 80%;
      }
    }
  }
}